.about-section-button {
  margin-top: 2rem;
  background-color: var(--main-orange);
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

.about-section-button:hover {
  background-color: var(--main-orange);
}



/* === About Us Section === */ 

/* Full-width background for About section */
.about-section-wrapper {
  width: 100%;
  background-color: var(--main-blue);
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 700px;
}


.about-left {
  background-color: var(--main-blue);
  flex: 1;
  color: white;
  padding-top: 1rem;
    justify-content: flex-start;
}

.about-left h1 {
  color: white;
}

.about-left p {
    font-size: 1.5rem;
  line-height: 1.6;
}

.about-right {
  background-color: var(--main-blue);
  color: white;
  padding-right: 2rem;
  padding-top: 3rem;
  min-width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
    justify-content: flex-start;
}

.about-image {

  max-width: 100%;
  height: 30rem;
  border-radius: 8px;
}

/* Phone Layout */

@media (max-width: 768px) {

  .about-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .about-left, .about-right {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .about-right {
    width: 100%;
    box-sizing: border-box;
    padding: 0; /* <-- reset padding */
  }

  .about-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-left h1 {
    font-size: 2rem;
  }

  .about-left p {
    font-size: 1rem !important;
    margin-bottom: 2rem;
  }

  .about-section-button {
    font-size: 1rem !important;

  }

  .about-section-wrapper .container {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }

    .about-section-wrapper {
    width: 100%;
    background-color: var(--main-blue);
    box-sizing: border-box;
    overflow-x: hidden; /* prevents spilling */
    min-height: 1100;
    max-height: 1100px;
    padding-bottom: 1rem;

  }

}

