
.about-section-button:hover {
  background-color: var(--main-orange);
}

.about-section-wrapper {
  width: 100%;
  background-color: var(--main-blue);
}

.about-section-wrapper .container {
  width: var(--container-width);
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: var(--section-padding);
}

.about-section-left {
  flex: 1;
  color: var(--main-white);
  padding-top: 1rem;
  justify-content: flex-start;
}

.about-section-left p {
  color: var(--main-white);
  margin-bottom: 3rem;
}

.about-section-left h1 {
  color: var(--main-white);
  margin-top: var(--section-padding)
}

.about-section-right {
  padding-top: 3rem;
  margin-left: 3rem;
  min-width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



/* Phone Layout */

@media (max-width: 768px) {

  .about-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0.5rem;
  }

  .about-section-left, .about-section-right {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .about-section-right {
    width: 100%;
    box-sizing: border-box;
    padding: 0; /* <-- reset padding */
    margin-left: 0rem;
  }

  .about-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-section-left h1 {
    font-size: 2rem;
  }

  .about-section-left p {
    font-size: 1rem !important;
    margin-bottom: 2rem;
  }

  .about-section-button {
    font-size: 1rem !important;

  }

  .about-section-wrapper .container {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    box-sizing: border-box;
  }

  .about-section-wrapper {
    width: 100%;
    background-color: var(--main-blue);
    box-sizing: border-box;
    overflow-x: hidden; /* prevents spilling */
    padding-bottom: 1rem;

  }

}

