body {
    background-color: var(--main-cream);
}


.ako-funguje-button {
  margin-top: 2rem;
  background-color: var(--main-orange);
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.ako-funguje-button:hover {
  background-color: var(--main-orange);
}


.ako-funguje-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 700px;
  background-color: var(--main-cream);

}

.ako-funguje-content {
  max-width: 800px;
  margin: 0 auto;
}

.ako-funguje-content p {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 300;
}

.ako-funguje-content h1 {
  color: var(--main-blue)
}

.ako-funguje-zoznam {
    margin-top: 3rem;
  text-align: left;
}

@media (max-width: 768px) {


  .ako-funguje-content h1 {
    font-size: 2rem;
  }

  .ako-funguje-content p {
    font-size: 1rem;
  }

  .ako-funguje-wrapper {

    width: 100%;
    min-height: 500px;
    max-height: 500px;
  }

  .ako-funguje-content {
    width: 100%;

    width: 80%;
    margin: 0 auto;
  }

  .ako-funguje-wrapper .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .ako-funguje-button {
    font-size: 1rem;
    background-color: var(--main-orange);
  }

}
