
.preco-section-wrapper {
  width: 100%;
  background-color: var(--main-cream);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.preco-section-wrapper .container {
  width: var(--container-width)
}

.preco-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.preco-left { 
  flex: 1;
  justify-content: flex-start;
}

.preco-right {
  min-width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
}


/* Phone Layout */

@media (max-width: 768px) {

  .preco-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .preco-section-wrapper {
    background-color: white;
    padding-bottom: 0rem;
  }

  .preco-section-wrapper .container {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    box-sizing: border-box;
    

  }

  .preco-left h1 {
    font-size: 2rem;
  }

  .preco-left p {
    font-size: 1rem !important;
  }

  .preco-section-button {
    font-size: 1rem !important;
  }

  .preco-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .preco-left, .preco-right {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 2rem;
    background-color: white;
  }

  .preco-right {
    width: 100%;
    box-sizing: border-box;
    padding: 0; /* <-- reset padding */
  }

  .preco-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


}

