

.preco-section-wrapper {
  width: 100%;
  background-color: white;
}

.preco-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 700px;
}


.preco-left {
  background-color: white;
  flex: 0 0 60%;
  color: black;
  padding-top: 1rem;
  justify-content: flex-start;
}

.preco-left h1 {
    color: var(--main-blue);
}

.preco-left p {
    font-size: 1.5rem;
  line-height: 1.6;
}

.preco-right {
  background-color: white;
  color: var(--main-blue);
  padding-right: 2rem;
  padding-top: 3rem;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.preco-image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 8px;
  object-fit: contain;
}


/* Phone Layout */

@media (max-width: 768px) {

  .preco-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .preco-section-wrapper {
    background-color: var(--main-cream);
  }

  .preco-section-wrapper .container {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    box-sizing: border-box;
    

  }

  .preco-left h1 {
    font-size: 2rem;
  }

  .preco-left p {
    font-size: 1rem !important;
    margin-bottom: 3rem;
  }

  .preco-section-button {
    font-size: 1rem !important;
  }

  .preco-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

  }

  .preco-left, .preco-right {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 2rem;
    background-color: var(--main-cream);
  }

  .preco-right {
    width: 100%;
    box-sizing: border-box;
    padding: 0; /* <-- reset padding */
  }

  .preco-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


}

