

.about-section-wrapper {
  width: 100%;
  background-color: white;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 700px;
}


.about-left {
  background-color: white;
  flex: 0 0 60%;
  color: black;
  padding-top: 1rem;
  justify-content: flex-start;
}

.about-left h1 {
    color: var(--main-blue);
}

.about-left p {
    font-size: 1.5rem;
  line-height: 1.6;
}

.about-right {
  background-color: white;
  color: var(--main-blue);
  padding-right: 2rem;
  padding-top: 3rem;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 8px;
  object-fit: contain;
}

