/* Service Offer */



.service-offer-section {
  padding: 60px 20px;
  background-color: white;
  text-align: center;
}

.service-offer-wrapper h1 {
    color: var(--main-blue);
}

.service-offer-wrapper p {
    font-size: 1.5rem;
    color: black;
    max-width: 700px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: space-between;
}

.service-card {
  min-width: 19rem;
  max-width: 19rem;
  min-height: 19rem;
  max-height: 19rem;
  flex: 0 0 auto;
  background-color: var(--main-blue);
  padding: 2rem 2rem;
  border-radius: 10px;
  text-align: center;
  scroll-snap-align: start;
  word-wrap: break-word;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: default;
}

.service-card img {
  height: 5rem;
  margin-bottom: 20px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.service-card h3 {
  font-size: 2rem;
  margin-bottom: 8px;
  color: white;
}

.service-card p {
  font-size: 14px;
  color: var(--card-text-color);
  line-height: 1.4;
}

@media (max-width: 768px) {

  .service-offer-wrapper .container {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .service-offer-wrapper {
    border: 2px dashed green; 
    padding-left: 0 ;
  }

  .service-offer-wrapper h1 {
    font-size: 2rem;
  }

  .service-offer-wrapper p {
    font-size: 1rem;
    max-width: 80%;
  }

  .service-offer-section {
    padding: 0;
    border: 2px dashed blue; 

  }

    .service-grid {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* spacing between stacked cards */
    padding: 0 1rem;
  }

  .service-card {
    width: 100%;
    max-width: 15rem;
    min-width: 15rem;
    min-height: 10rem;
    max-height: 10rem;
    padding: 1.5rem;
  }

  .service-card h3 {
    font-size: 1.5rem;
  }

  .service-card img {
    height: 3rem;
  }


}